#%RAML 0.8
title: Steroids Data
mediaType: application/json
baseUri: https://rest-api.appgyver.com/v1/

traits:
  - securedBySteroidsApiKey:
      headers:
        steroidsApiKey:
          type: string
          example: exampleapikey
          default: 680d3fbb2179b41fe195ea476290877a259cfefadd0ed423ad5a441e7c3834b4
        steroidsAppId:
          type: integer
          example: 1234
          default: 57850

schemas:
  - Location_collection: '{"$schema":"http://json-schema.org/schema","title":"Location collection","type":"object","properties":{"objects":{"type":"array","items":{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical Location representation","properties":{"client_name":{"type":"string"},"lat":{"type":"integer"},"long":{"type":"integer"},"last_updated":{"type":"integer"},"client_isThien":{"type":"boolean"}},"required":[]}}}}'
  - Location_member: '{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical Location representation","properties":{"object":{"type":"object","properties":{"client_name":{"type":"string"},"lat":{"type":"integer"},"long":{"type":"integer"},"last_updated":{"type":"integer"},"client_isThien":{"type":"boolean"}},"required":[]}}}'

resourceTypes:
  - dolan_db_collection:
      usage: This resourceType should be used for any collection of items
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "collection"
          }
        responses:
          200:
            description: |
              {
                "rootKey": "objects"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_collection # e.g cars
      post:
        description: |
          {
            "action": "create",
            "rootKey": "object"
          }
        body:
          application/json:
            schema: <<resourcePathName>>_member
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_member # e.g. car

  - dolan_db_member:
      usage: This resourceType should be used for any built.io item
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "find"
          }
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_member # e.g. car
      put:
        description: |
          {
            "action": "update",
            "rootKey": "object"
          }
        body:
          application/json:
            schema: <<resourcePathName>>_member
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_member
      delete:
        description: |
          {
            "action": "destroy"
          }
        responses:
          200:


/Location:
  description: |
    {
      "resourceName": "Location",
      "identifierKey": "id"
    }
  type: dolan_db_collection
  /{id}:
    type: dolan_db_member


