<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Location Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="locations.length == 0">

      <super-navigate location="location#show" data-params-id="{{ location.id }}" ng-repeat="location in locations">
        <li class="item item-icon-right">
          <span ng-bind="location['client_name']"></span>
          <i class="icon super-ios7-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="locations.length == 0" class="assertive padding">
      No locations found. Create one?
    </h4>

    <super-modal-show location="location#new">
      <button class="button button-full button-positive">
        Create a new location
      </button>
    </super-modal-show>
  </div>
</div>
